{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center mb-4">Contact Us</h1>

<div class="row">

    <!-- Kiran -->
    <div class="col-md-4 mb-4">
        <div class="card p-3 text-center shadow-sm">
            <h5>Bhavini Baghel</h5>
            <p>bhavinibaghel2005@gmail.com</p>
            <a href="www.linkedin.com/in/bhavini-baghel-a1581432b" target="_blank">LinkedIn Profile</a>
        </div>
    </div>

    <!-- Bhavini -->
    <div class="col-md-4 mb-4">
        <div class="card p-3 text-center shadow-sm">
            <h5>Aditi Kumari</h5>
            <p</p>
            <a href="#" target="_blank">LinkedIn Profile</a>
        </div>
    </div>

    <!-- Aditi -->
    <div class="col-md-4 mb-4">
        <div class="card p-3 text-center shadow-sm">
            <h5>Kiran Muwel</h5>
            <p>kirnmuwel@gmail.com</p>
            <a href="#" target="_blank">LinkedIn Profile</a>
        </div>
    </div>

</div>

<style>
.card {
    border-radius: 12px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);}

body {
    min-height: 100vh;
    margin: 0;

    background: url("{% static 'images/bg.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

</style>

{% endblock %}